settings:
  your_home_of_all_git_repos: #all repos inside will be found (recursively too!)
                              #Use absolute value starting with /
    /home/nthx/projects

  popular_repos: ['any_dir/repo1', 'subdir/repo2', 'subdir2/repo3']
